.cover-container {
	display: block;
	width: 100%;
	height: 840px;
	background: url(../img/cover.jpg) center center no-repeat;
	background-size: cover;
	z-index: 2;
}

.bg-gradient {
	display: block;
	width: 100%;
	height: 840px;
	position: absolute;
	background-image: -o-linear-gradient(top, #993300 0%, #FFCC66 100%);
	background-image: -moz-linear-gradient(top, #993300 0%, #FFCC66 100%);
	background-image: -webkit-linear-gradient(top, #993300 0%, #FFCC66 100%);
	background-image: -ms-linear-gradient(top, #993300 0%, #FFCC66 100%);
	background-image: linear-gradient(to top, #993300 0%, #FFCC66 100%);
	opacity: 0.8;
	z-index: 1;
	text-align: center;
}

.cover-content-box {
	display: block;
	position: absolute;
	width: 100%;
	height: 840px;
	text-align: center;
	z-index: 5;
}

.cover-title {
	display: block;
	z-index: 3;
	font-size: 72px;
	margin-top: 190px;
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 2px;
}

.cover-dsc {
	display: block;
	font-size: 20px;
	margin-top: 24px;
	color: rgba(255, 255, 255, 0.9);
	width: 100%;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 4px;
}

.video-icon-box, .music-icon-box, .info-icon-box {
	width: 100px;
	height: 100px;
	border: 2px solid rgba(255, 255, 255, 0);
	border-radius: 101px;
	margin-top: 96px;
	display: inline-block;
	transition-duration: 0.3s;
}

.music-icon-box {
	margin-right: 72px;
	margin-left: 72px;
}

.icon-video, .icon-music, .icon-user {
	display: block;
	position: absolute;
	font-size: 32px;
	color: rgba(255, 255, 255, 0.9);
	transition-duration: 3s;
}

#menu a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
}

.icon-video {
	padding: 33px 33px;
}

.icon-music {
	padding: 33px 35px 33px 30px;
}

.icon-user {
	padding: 33px 34px 33px 32px;
}

.video-icon-box:hover {
	border: 2px solid rgba(255, 255, 255, 0.9);
}

.music-icon-box:hover {
	border: 2px solid rgba(255, 255, 255, 0.9);
}

.info-icon-box:hover {
	border: 2px solid rgba(255, 255, 255, 0.9);
}

.header-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.35);
	z-index: 99999;
	display: none;
	text-align: center;
}

.header-container li {
	display: inline-block;
	text-decoration: none;
	width: 75px;
	height: 75px;
	margin: 0;
	padding: 0;
}

#menu-header .icon-video, .icon-music, .icon-user {
	color: black;
}

#menu-header a {
	text-decoration: none;
}

.video-container {
	display: block;
	text-align: center;
	width: 100%;
	height: 817px;
/*	background-color: #FFE7AE;*/
	background-image: -o-linear-gradient(top, #FFDF94 0%, #FFE7AE 100%);
	background-image: -moz-linear-gradient(top, #FFDF94 0%, #FFE7AE 100%);
	background-image: -webkit-linear-gradient(top, #FFDF94 0%, #FFE7AE 100%);
	background-image: -ms-linear-gradient(top, #FFDF94 0%, #FFE7AE 100%);
	background-image: linear-gradient(to top, #FFDF94 0%, #FFE7AE 100%);
}

.video-title, .music-title, .info-title {
	display: block;
	font-size: 36px;
	padding-top: 175px;
	color: #666666;
	width: 100%;
	text-align: center;
	font-weight: lighter;	
}

.video-dsc, .music-dsc, .info-dsc, .info-text {
	display: block;
	font-size: 14px;
	padding-top: 16px;
	color: #666666;
	width: 100%;
	text-align: center;
	font-weight: lighter;	
}

.info-text {
	padding: 50px 15%;
}

.video-box {
	display: block;
	width: 840px;
	height: 420px;
	border-radius: 3px;
	overflow: hidden;
	margin: 50px auto 0px auto;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
}

.music-container {
	display: block;
	text-align: center;
	width: 100%;
	height: 817px;
	background-image: -o-linear-gradient(top, #F4AEAB 0%, #FFDF94 100%);
	background-image: -moz-linear-gradient(top, #F4AEAB 0%, #FFDF94 100%);
	background-image: -webkit-linear-gradient(top, #F4AEAB 0%, #FFDF94 100%);
	background-image: -ms-linear-gradient(top, #F4AEAB 0%, #FFDF94 100%);
	background-image: linear-gradient(to top, #F4AEAB 0%, #FFDF94 100%);
}

.music-box {
	display: block;
	width: 220px;
	height: 220px;
	border-radius: 3px;
	overflow: hidden;
	background: url(../img/song-cover01.jpg) center center no-repeat;
	background-size: cover;
	margin: 50px auto 0px auto;
	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.25);
}

.my-songs-container {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 56px;
}

.jp-details .jp-title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: lighter;
    color: white;
}

.jp-audio {
  width: 100%;
  border: none;
  text-align: center;
  transform: translateY(-28px);
  background-color: transparent;
  display: inline-block;
}

.jp-details {
    background-color: transparent;
}

.jp-audio .jp-controls {
  width: 80px;
  height: 80px;
  padding: 0;
  background-color: transparent;
  display: inline-block;
  float: none;
  border-radius: 81px;
  border: 2px solid white;
  transform: translateY(-211px);
}

.jp-play {
    background: url("../icon/arrows.svg") center center no-repeat;
    background-size: 40% auto;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.jp-state-playing .jp-play {
    background: url("../icon/pause.svg") center center no-repeat;
    background-size: 40% auto;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.jp-play:focus {
    background: url("../icon/arrows.svg") center center no-repeat;
    background-size: 40% auto;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.jp-state-playing .jp-play:focus {
    background: url("../icon/pause.svg") center center no-repeat;
    background-size: 40% auto;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;

}

.jp-current-time, .jp-duration {
    width: auto;
    font-size: 10px;
    font-style: normal;
}

.jp-current-time {
  display: inline;
  cursor: default;
  padding: 34px 0px 0px 0px;
  color: white;
  z-index: 99999;
  transform: translateX(-70px);
}

.jp-duration {
    display: inline;
    cursor: pointer;
    font-size: 10px;
    padding: 34px 0px 0px 0px;
    color: white;
    z-index: 99999;
    transform: translateX(70px);
}

.jp-seek-bar {
    background: white;
    width: 0px;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.jp-play-bar {
    background: #E56183;
    width: 0px;
    height: 100%;
    border-radius: 21px;
}

.jp-audio .jp-type-single .jp-progress {
    width: 360px;
    height: 20px;
    display: block;
    border-radius: 21px;
}

.jp-interface {
    position: relative;
    text-align: center;
    background-color: transparent;
    width: 360px;
    margin: 0 auto 0 auto;
}

.jp-progress {
	display: block;
	text-align: center;
}

.jp-audio .jp-type-single .jp-progress {
    left: 0;
}

.jp-progress {
    overflow: hidden;
    background-color: white;
}





